* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.back {
  background-color: rgb(245, 243, 243);
  width: 100%;
  height: px;
  margin-top: -20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 5px 12px rgba(46, 46, 46, 0.3);
}

.left {
  position: absolute;
  left: 15px;
  top: 36px;
  display: inline-block;
  line-height: 8px;
  font-size: 24px;
}

.left img {
  width: 40px;
  height: 40px;
  margin-top: -20px;
}

.left div {
  text-align: center;
  margin-left: 50px;
  margin-top: -25px;
  color: rgb(90, 88, 88);
  font-size: 16px;
  font-weight: 350;
}

.mid {
  display: block;
  width: 43%;
  margin: 20px auto;
}

.right {
  position: absolute;
  right: 34px;
  top: 26px;
  display: inline-block;
}

.navbar {
  display: inline-block;
  margin-top: 10px;
}

.navbar li {
  display: inline-block;
  font-size: 23px;
}

.navbar li a {
  text-decoration: none;
  padding: 35px 10px;
  color: rgb(90, 88, 88);
}

.navbar li a:hover,
.navbar li a:active {
  text-decoration: none;
  background-color: rgb(90, 88, 88);
  color: white;
}

.btn {
  font-family: "Signika Negative", sans-serif;
  margin: 0px 10px;
  margin-top: -40px;
  color: rgb(70, 69, 69);
  background-color: rgb(214, 212, 212);
  padding: 4px 14px;
  border: 1px solid rgb(70, 69, 69);
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(70, 69, 69);
  color: white;
}
