body {
  background-image: url(../Images/services.jpg);
  background-repeat: no-repeat;
  background-size: 100% 690px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  background-color: rgb(206, 202, 202);
  width: 30%;
  height: 500px;
  margin: 76px auto;
  border-radius: 3px;
  box-shadow: 0px 5px 14px black;
}

.text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  text-align: center;
  /* border: 1px solid black; */
  padding: 40px;
  margin: 60px 0px 0px 0px;
}

form {
  height: 100%;
}

form label {
  display: block;
  margin-right: 250px;
}
form input {
  background-color: rgb(228, 223, 223);
  height: 35px;
  border: none;
  margin: 10px;
  box-shadow: 0px 3px 15px rgb(88, 88, 88);
}

#sub {
  height: 30px;
  width: 137px;
  color: white;
  background-color: rgb(72, 73, 73);
  border: none;
  border-radius: 245px;
  font-size: 14px;
  padding: 10px;
}

#sub:hover {
  background-color: rgb(31, 30, 30);
}
form h1 {
  text-align: center;
  margin-top: 39.5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  color: rgb(87, 86, 86);
}
form {
  /* border: 1px solid black; */
  text-align: center;
}
